### MySQL Connector
The following code blocks demonstrates how to use mysql-connector-python to connect and inquire mysql database using raw SQL QUERY.

You need to have mysql server installed into your system. To install MySQL on Linux, you can use the following commands:
```bash
# Update the package list
sudo apt-get update

# Install the MySQL server
sudo apt-get install mysql-server


#Once the installation is complete, the MySQL server should be started automatically. You can quickly check its current status via systemd:
sudo service mysql status

# To enter into the mysql-server enter mysql on the terminal
sudo mysql -u <username> -p 
```
To follow the notebook and get same results. Create a database called book_store.
```sql
CREATE DATABASE book_store;
```
Inside mysql server, copy and paste create table and insert commands from book-store.sql file shared within the folder.

In [ ]:
import os

import mysql.connector
from dotenv import load_dotenv

Let's load the environment variables that handles the username and password. We are using .env files along with python-dotenv for security reason. This helps managing sensitive information.

In [ ]:
# Get the current working directory
current_directory = os.getcwd()
# Get the parent directory
parent_directory = os.path.dirname(current_directory)
#  Load environment variables from the .env file in the parent directory
dotenv_path = os.path.join(parent_directory, ".env")
load_dotenv(dotenv_path)

Now, we connect to the MySQL database using mysql-connector. 

The MySQLCursor class instantiates objects that can execute operations such as SQL statements. Cursor objects interact with the MySQL server using a MySQLConnection object.

In [ ]:
user = os.getenv("USER_NAME")
password = os.getenv("PASSWORD")


mydb = mysql.connector.connect(host="localhost", user=user, password=password)
mycursor = mydb.cursor(buffered=True)

We execute some raw sql query using the cursor. There are several different cursor. 
- `MySQLCursorBuffered` - For queries executed using a buffered cursor, row-fetching methods such as fetchone() return rows from the set of buffered rows. For nonbuffered cursors, rows are not fetched from the server until a row-fetching method is called. <span style="color:red"> In this case, you must be sure to fetch all rows of the result set before executing any other statements on the same connection, or an InternalError (Unread result found) exception will be raised. </span>
- `MySQLCursorRaw` - A MySQLCursorRaw cursor skips the conversion from MySQL data types to Python types when fetching rows. A raw cursor is usually used to get better performance or when you want to do the conversion yourself.
- `MySQLCursorDict` - A MySQLCursorDict cursor returns each row as a dictionary. The keys for each dictionary object are the column names of the MySQL result.

In [ ]:
mycursor.execute("SHOW DATABASES")
databases = mycursor.fetchall()
print(databases)

`NOTE`: fetchone() without cursur buffer set to true will be problematic. This is why we set buffer = TRUE. 

More details can be found in [StackOverflow MySQL cursor](https://stackoverflow.com/questions/29772337/python-mysql-connector-unread-result-found-when-using-fetchone).

In [ ]:
if databases:
    # Use the first database in the result
    selected_database = databases[0][0]

    # Switch to the selected database
    mycursor.execute(f"USE {selected_database}")

    # Execute SHOW TABLES query for the selected database
    mycursor.execute("SHOW TABLES")

    # Fetch the result of SHOW TABLES
    tables = mycursor.fetchone()

    # Print the list of tables
    print("Tables:", tables)

fetchall() will return a iterator of the rows.

In [ ]:
mycursor.execute(f"SELECT * FROM {tables[0]}")
books = mycursor.fetchall()
for row in books:
    print(row)
mycursor.close()
mydb.close()

### SQLAlchemy
#### The below section will provide a overview of how to use SQLAlchemy to run raw SQL QUERY.

First we create an engine with the database url `"mysql+<driver>://your_username:your_password@your_host/your_database"`. In our case, driver is `mysqlconnector`.

Then we connect to the database using the engine. Rest of the operation is almost same as using mysqlconnector.

In [ ]:
from sqlalchemy import create_engine

DATABASE_URL = os.getenv("DATABASE_URL")
# MySQL connection string
# example = "mysql+mysqlconnector://your_username:your_password@your_host/your_database"
# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [ ]:
from sqlalchemy import text

with engine.connect() as connection:
    result = connection.execute(text("SHOW TABLES"))
    tables = result.fetchone()
    books = connection.execute(text(f"SELECT * FROM {tables[0]}"))
    for row in books:
        print(row)
print("\n")
with engine.connect() as connection:
    result = connection.execute(text("DESC books"))
    columns = result.fetchall()
    for col in columns:
        print(col)
engine.dispose()

### ORM (Object-Relational Mapping):

ORM is a programming technique that converts data between incompatible type systems, specifically between object-oriented programming languages and relational databases. It allows developers to interact with databases using an object-oriented paradigm instead of raw SQL queries.

**Advantages of ORM (Object-Relational Mapping):**

- **Object-Oriented Approach:** Represents database entities as objects, aligning with programming principles.
- **Database Independence:** Offers a degree of independence from specific database systems.
- **Code Reusability:** Promotes modular and reusable code through object-oriented patterns.
- **Reduced SQL Injection Risks:** Mitigates risks by using parameterized queries.
- **Rapid Development:** Speeds up development by minimizing boilerplate code.
- **Maintenance and Flexibility:** Eases adaptation to changes in the database schema.


**Disadvantages of ORM:**

- **Performance Overhead:** May introduce performance overhead compared to raw SQL queries.
- **Learning Curve:** Learning and mastering ORM frameworks may take time.
- **Limited Control:** Offers less fine-grained control over database operations.
- **Complex Queries:** Some complex queries may be challenging to express with ORM.
- **Dependency on Framework:** Tied to the ORM framework, impacting technology choices.
- **Not Ideal for All Scenarios:** May not be the best choice for simple or performance-critical applications.

In summary, while ORM provides numerous benefits in terms of code simplicity and maintainability, it comes with trade-offs, particularly in performance and control. The choice between using ORM or raw SQL depends on the specific requirements and constraints of a given project.


#### First we import the necessery moudles to use SQLAlchemy ORM.

In [ ]:
from sqlalchemy import Column, Integer, String, create_engine, text
from sqlalchemy.orm import declarative_base, sessionmaker

We need a class representation of the table we want to create or query on. Its refered to as model. 

We can dynamically create a table model that already exist using Type metaclass. 

We call type() with three argumentsâ€”type(name, bases, dct):

- name specifies the class name. This becomes the __name__ attribute of the class.
- bases specifies a tuple of the base classes from which the class inherits. This becomes the __bases__ attribute of the class.
- dct specifies a namespace dictionary containing definitions for the class body. This becomes the __dict__ attribute of the class.

Calling type() in this manner creates a new instance of the type metaclass. In other words, it dynamically creates a new class.

Oviusly this could have been done more easily. By knowing the table column names and types in advance. But Hey! where is the fun in that :).

In [ ]:
engine = create_engine(DATABASE_URL)
# Use the engine to connect to the database
with engine.connect() as connection:
    # Execute the DESC command to get table information
    result = connection.execute(text("DESC books"))
    columns_info = result.fetchall()

# Extract column names and types
column_names = [column[0] for column in columns_info][1:]
column_types = [column[1] for column in columns_info][1:]

# Map MySQL types to SQLAlchemy types
MYSQL_TYPES_MAPPING = {
    "int": Integer,
    "varchar": String,
    # Add more type mappings as needed
}
# Create a declarative base
Base = declarative_base()

# Create a SQLAlchemy model class dynamically
Book = type(
    "Book",
    (Base,),
    {
        "__tablename__": "books",
        "book_id": Column(Integer, primary_key=True),
        **{
            column_name: Column(MYSQL_TYPES_MAPPING.get(column_type, String))
            for column_name, column_type in zip(column_names, column_types)
        },
    },
)


# # Print the dynamically created model class
print(Book().__dir__())

Sqlalchemy create_all method is used to create a new table into the database. This method will first check whether the table exists in the database or not if suppose it has found an existing table it will not create any table. If suppose the sqlalchemy create_all method has not found any table it will create a new table into the database.

In [ ]:
# Create the table in the database
Base.metadata.create_all(engine)

# Create a session to interact with the database
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
# Fetch all rows from the 'books' table
all_books = session.query(Book).all()

# Print the fetched rows
for book in all_books:
    print(
        f"Book ID: {book.book_id}, Title: {book.title}, Author: {book.author_fname} {book.author_lname}"
    )

We try few more query using ORM. For more details on the QUERY API, look into 
[QUERY API](https://docs.sqlalchemy.org/en/14/orm/query.html)

In [ ]:
# Query to get 5 books with the largest page count
"""
SELECT book_id, title, pages FROM books
ORDER BY pages DESC
LIMIT 5;
"""
largest_page_books = session.query(Book).order_by(Book.pages.desc()).limit(5).all()
# Print the results
for book in largest_page_books:
    print(f"Book ID: {book.book_id}, Title: {book.title}, Page Count: {book.pages}")

In [ ]:
# Most recent 5 published books with page count more than 100
"""
SELECT title, released_year, pages FROM books
WHERE pages>100
ORDER BY released_year DESC
LIMIT 5;
"""
result = (
    session.query(Book).filter(Book.pages > 100).order_by(Book.released_year.desc()).limit(5).all()
)
for book in result:
    print(f"Title:{book.title} \t Released_year:{book.released_year} \tPages:{book.pages}")

In [ ]:
# group each authors work and count their total number of pages published.
"""
SELECT author_fname, author_lname, SUM(pages) AS total_pages FROM books
GROUP BY author_fname, author_lname
ORDER BY total_pages DESC;
"""
from sqlalchemy import desc, func

result = (
    session.query(Book.author_fname, Book.author_lname, func.sum(Book.pages).label("total_pages"))
    .group_by(Book.author_fname, Book.author_lname)
    .order_by(desc("total_pages"))
    .all()
)
# Explicitly reference the aliased column
for book in result:
    print(f"Author:{book.author_fname} {book.author_lname}\tPages: {book.total_pages}")

In [ ]:
# book_id and title with title having more than two words
"""
SELECT book_id, title
FROM books
WHERE LENGTH(title) - LENGTH(REPLACE(title, ' ', '')) + 1 > 2;
"""

from sqlalchemy.sql.expression import func

result = (
    session.query(Book)
    .filter(func.char_length(Book.title) - func.char_length(func.replace(Book.title, " ", "")) > 1)
    .all()
)

for book in result:
    print(f"ID:{book.book_id} \t Title: {book.title}")

In [ ]:
# Close the session
session.close()
engine.dispose()